@font-face {
    font-family: "SegoeUIRegular";
    src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot");
    src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/SegoeUIRegular/SegoeUIRegular.woff") format("woff"),
    url("../fonts/SegoeUIRegular/SegoeUIRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "SegoeUIBold";
    src: url("../fonts/SegoeUIBold/SegoeUIBold.eot");
    src: url("../fonts/SegoeUIBold/SegoeUIBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/SegoeUIBold/SegoeUIBold.woff") format("woff"),
    url("../fonts/SegoeUIBold/SegoeUIBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "SegoeUIItalic";
    src: url("../fonts/SegoeUIItalic/SegoeUIItalic.eot");
    src: url("../fonts/SegoeUIItalic/SegoeUIItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/SegoeUIItalic/SegoeUIItalic.woff") format("woff"),
    url("../fonts/SegoeUIItalic/SegoeUIItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "SegoeUILight";
    src: url("../fonts/SegoeUILight/SegoeUILight.eot");
    src: url("../fonts/SegoeUILight/SegoeUILight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/SegoeUILight/SegoeUILight.woff") format("woff"),
    url("../fonts/SegoeUILight/SegoeUILight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "SegoeUISemiBold";
    src: url("../fonts/SegoeUISemiBold/SegoeUISemiBold.eot");
    src: url("../fonts/SegoeUISemiBold/SegoeUISemiBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/SegoeUISemiBold/SegoeUISemiBold.woff") format("woff"),
    url("../fonts/SegoeUISemiBold/SegoeUISemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body{
  font-family: SegoeUIRegular;
  font-size: 14px;
  color: #1E1F21;
}
button{
  cursor: pointer;
  font-size: 16px;
}
header p,
.house-sizes__size p,
.section-footer__item p,
.advantage__title p,
.house-reviews-slider__info p,
footer p{
  margin-bottom: 0
}
footer a:hover{
  color: inherit;
}
.first-line{
  justify-content: space-between;
  padding: 20px 0;
  align-items: center;
}
.first-line__logo{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.first-line__logo img{
  margin-right: 13px;
}
.first-line__button{
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #83B62F;
  color: #fff;
  border-radius: 80px;
  font-size: 14px;
  height: 56px;
  border: none;
}
.first-line__actions,
.first-line__actions div{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.first-line__actions img{
  margin-right: 6px;
}
.contacts-card{
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.contacts-card__city{
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  opacity: 0.5;
}
.contacts-card__phone{
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  color: #1E1F21;
  font-family: SegoeUIBold;
}
.contacts-card__modal{
  font-size: 15px;
  line-height: 23px;
  color: #83B62F;
  font-family: SegoeUIBold;
}
.contacts-card__modal:hover{
  color: #83B62F;
}
.contacts-card__info{
  max-width: 85%;
}
.contacts-card p{
  margin-bottom: 5px;
}
.contacts-card{
  display: flex;
  justify-content: space-between;
  padding: 13px 20px;
  max-width: 250px;
  width: 100%;
}
.contacts-card__img{
  display: flex;
  justify-content: center;
  align-items: center;
}
nav{
  background-color: #1E1F21;
  color: #fff;
  padding: 20px 0;
}
a{
  color: inherit;
}
nav a:hover{
  color: #EDCD27;
  text-decoration: none;
}
nav ul{
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}
.orangeBtn{
  color: #fff;
  background: linear-gradient(277.95deg, rgba(189, 131, 18, 0.4) 6.61%, rgba(255, 255, 255, 0) 99.11%), #FB961F;
  box-shadow: 0px 3px 6px rgba(87, 55, 16, 0.15);
  border-radius: 68px;
  height: 60px;
  padding: 0 40px;
  border: none;
}
.whiteTranspBtn{
  height: 60px;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  color: #fff;
  box-sizing: border-box;
  padding: 0 40px;
  border-radius: 65px;
}
.banner__info{
  color: #fff;
}
.banner__info ul{
  padding-left: 20px;
  margin-bottom: 40px;
}
.banner__info li:before {
  content: url('../img/icons/marker.svg'); 
  position: absolute;
  right: 100%;
}
.banner__info li{
  font-size: 20px;
  position: relative;
  padding-left: 14px;
  line-height: 25px;
  list-style-type: none;
}
.banner__info h1{
  font-size: 55px;
  line-height: 58px;
  color: #FFFFFF;
  margin-bottom: 20px;
}
.banner{
  background-image: url('../img/banner.png');
  background-size: cover;
}
.banner__gradient{
  background-color: rgba(12, 12, 14, 0.6);
  padding: 160px 0;
}
.banner__video iframe{
  width: 100%;
  min-height: 280px;
}
.section{
  padding: 120px 0;
}
.section-small{
  padding: 80px 0;
}
.greenBg{
  background: linear-gradient(101.39deg, #83B62F 0.32%, #678633 98.77%);
}
.h2-block{
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}
.h2-link{
  display: flex;
  align-items: center;
}
.h2-link img{
  margin-left: 5px;
}
.h2-link a{
  color: #83B62F;
}
h2{
  margin-bottom: 0;
  font-size: 40px;
  line-height: 53px;
  font-family: SegoeUIBold;
}
.slider-slide{
  padding: 0 15px;
}
.houses-hits-slider__content,
.projects-slider__content{
  transition: 0.3s;	
}
.houses-hits-slider__content:hover,
.projects-slider__content:hover{
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.15);
}
.houses-hits-slide__block{
  padding: 25px 45px;
  border: 1px solid #E7E7E7;
  border-top: none;
  text-align: center;
  border-radius: 0 0 4px 4px;
}
.houses-hits-slide__name{
  font-size: 20px;
  line-height: 25px;
  font-family: SegoeUIBold;
  margin-bottom: 4px;
}
.greenTranpBtn{
  border: 1px solid #83B62F;
  border-radius: 72px;
  font-family: SegoeUIBold;
  height: 60px;
  font-size: 16px;
  line-height: 21px;
  color: #83B62F;
  background-color: #fff;
  transition: 0.3s;
}
.greenTranpBtn:hover{
  background-color: #83B62F;
  color: #fff;
}
.houses-hits-slide__block .greenTranpBtn{
  width: 100%;
}
.houses-hits-slider__img img,
.projects-slider__img img{
  max-width: 100%;
  border-radius: 4px 4px 0 0;
  width: 100%;
}
.slider{
  margin: 0 -15px;
}
.houses-hits-slider__content,
.projects-slider__content{
  margin-bottom: 30px;
}
.special-blocks__block{
  font-size: 18px;
  border-radius: 4px;
  min-height: 270px;
  display: flex;
  align-items: center;
  background-size: cover;
  background-image: url('../img/offers.png');
  padding-left: 37px;
}
.special-blocks__title{
  font-size: 30px;
  font-family: SegoeUIBold;
  line-height: 31px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.special-blocks .special-blocks__projects{
  display: flex;
  justify-content: center;
  padding: 0;
  background-image: url('../img/projects.png');
  color: #fff;
  background-position-x: -13px;
  background-size: auto;
  background-repeat: no-repeat;
}
.special-blocks__projects .h2-link{
  justify-content: center;
  margin-top: 9px;
}
footer{
  background-color: #382B2B;
  font-size: 14px;
  color: #fff;
}
footer a:hover{
  text-decoration: none;
}
footer a{
  color: inherit;
}
footer .first-row{
  padding: 20px 0 12px;
  align-items: center;
}
footer .last-row{
  padding: 14px 0 19px;
  justify-content: center;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.first-row__contacts{
  display: flex;
  justify-content: space-between;
}
.first-row__contacts img{
  margin-right: 6px;
}
.first-row__contacts div{
  display: flex;
  align-items: center;
}
.projects-slider__block{
  padding: 0 25px;
  border-radius: 0 0 4px 4px;
  background-color: #FBFBFB;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}
.projects-slider__block p{
  margin-bottom: 0;
}
.projects-slider__name,
.projects-slider__price{
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}
.projects-slider__name{
  border-bottom: 1px solid rgba(30,31,33, 0.1);
  font-size: 20px;
  line-height: 25px;
  font-weight: 600;
}
.projects-slider__square{
  background: #FB9722;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  padding: 0 3px 2px 6px;
  border-radius: 4px;
}
.projects-slider__price p{
  font-size: 20px;
  line-height: 21px;
  font-family: SegoeUIBold;
}
.projects-slider__block .h2-link a{
  display: flex;
}
.section-calculation{
  background-image: url('../img/calc.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}
.section-calculation h2{
  font-size: 40px;
  line-height: 53px;
  font-family: SegoeUIBold;
  margin-bottom: 48px;
}
.section-calculation .subTitle{
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 15px;
}
.calc-form{
  text-align: center;
  padding: 0 100px;
}
.calc-form input{
  display: flex;
  margin: auto;
  width: 100%;
  height: 65px;
  font-family: SegoeUIBold;
  color: #1E1F21;
  padding-left: 20px;
  margin-bottom: 35px;
  border-radius: 4px;
  background-color: #fff;
  border: none;
}
.calc-form input::placeholder{
  font-family: SegoeUIBold;
  color: #1E1F21;
}
.calc-form__values{
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: space-between;
  margin-bottom: 25px;
}
.calc-form__values p{
  font-size: 16px;
  transition: 0.3s;
  cursor: pointer;
  margin-bottom: 0;
  line-height: 21px;
}
.calc-form__values p:hover{
  color: #83B62F;
}
.calc-form__sum{
  font-size: 24px;
  font-family: SegoeUIBold;	
  line-height: 28px;
}
.calc-form__sum b{
  font-size: 42px;
  margin-left: 12px;
  margin-right: 5px;
  line-height: 21px;
  text-transform: uppercase;
  color: #EDCD27;
}
.calc-form__sum span{
  color: #fff;
  text-transform: lowercase;
  font-size: 16px;
  font-family: SegoeUIRegular;
}
.calc-form__buttons{
  display: flex;
  justify-content: space-between;
}
.calc-form__buttons img{
  padding-right: 10px;
  margin-right: 20px;
}
.calc-form__buttons button{
  padding-left: 20px;
}
.calc-form__buttons .orangeBtn img{
  border-right: 1px solid #c77716b0;
}
.calc-form__buttons .whiteTranspBtn img{
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.house-sizes{
  display: flex;
  flex-wrap: wrap;
}
.house-sizes__size{
  padding: 7px 32px 9px;
  border: 1px solid #95C34A;
  border-radius: 4px;
  transition: 0.4s;
  background-color: #fff;
  color: #1E1F21;
  margin-right: 10px;
  cursor: pointer;
  margin-bottom: 15px;
}
.house-sizes__size:hover{
  color: #fff;
  background-color: #83B62F;
}
.house-sizes-container .title{
  color: #000000;
  margin-bottom: 20px;
}
.house-sizes-container{
  margin-bottom: 30px; 
  max-width: 100%;
  margin-right: 8.333333%
}
.greyBg{
	background-color: #F5F5F5;
}
.house-main-slider__content img,
.for-house-main-slider__content img{
  width: 100%;
  max-width: 100%;
  border-radius: 4px;
}
.for-house-main-slider__content{
  height: 106px;
  display: flex;
}
.greenBtn{
  background: linear-gradient(103.23deg, rgba(255, 255, 255, 0) 5.08%, rgba(0, 0, 0, 0.06) 93.8%), #83B62F;
  box-shadow: 0px 6px 8px rgba(51, 73, 14, 0.18);
  border-radius: 102px;
  border: none;
  color: #fff;
  height: 60px;
  padding: 0 70px;
}
.house-slider-description .subTitle{
  font-family: SegoeUIBold;
  font-size: 20px;
  line-height: 25px;
  color: #1E1F21;
}
.house-slider-description{
  align-self: center;
}
.house-view-slider{
  margin-bottom: 15px; 
}
.bg-section1{
  background-image: url('../img/bg1.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.employee-slider__name{
  font-size: 20px;
  line-height: 25px;
  font-family: 'SegoeUIBold';
  margin-bottom: 0;
}
.employee-slider__img img{
   max-width: 100%;
   margin-bottom: 11px;
}
.advantage{
  margin-right: 8.333333%;
  margin-bottom: 50px;
}
.advantage__title{
  display: flex;
  align-items: center;
  font-size: 20px;
  line-height: 25px;
  font-weight: 600;
  margin-bottom: 13px;
  justify-content: space-between;
}
.advantage__title img{
  margin-right: 18px;
}
.section-footer__item{
  display: flex;
  align-items: center;
}
.section-footer__item img{
  margin-right: 15px;
}
.section-footer__block{
  display: flex;
  max-width: 80%;
  justify-content: space-between;
  margin: auto;
}
.section-footer{
  background: #1E1F21;
  border-radius: 4px 4px 0px 0px;
  padding: 28px 0;
  color: #fff;
}
.bg-section2{
  background-image: url('../img/bg2.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.difference-card{
  padding: 25px 29px;
  background-color: #fff;
  border-radius: 4px;
  margin-bottom: 30px;
}
.difference-card__title{
  display: flex;
  align-items: center;
  margin-bottom: 11px;
}
.difference-card__title img{
  margin-right: 15px;
}
.difference-card ul {
  list-style: none;
  margin-bottom: 10px;
  padding-left: 20px;
}
.difference-card ul li{
  position: relative;
}
.difference-card ol{
  padding-left: 16px;
  margin-bottom: 10px;
}
.difference-card__text p{
  margin-bottom: 10px;
}
.difference-card ul li:before {
  content:  "-";
  position: absolute;
  left:     -18px;
}
.difference-card__title p{
  font-size: 24px;
  line-height: 28px;
  font-family: 'SegoeUIBold';
  margin-bottom: 0;
}
.bg-section2 h2{
  color: #fff;
  text-align: center;
}
.house-reviews-slider__content a,
.house-reviews-slider__content a:hover{
  color: #83B62F;
}
.house-reviews-slider__name{
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
}
.house-reviews-slider__name p{
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
}
.house-reviews-slider__name .square{
  font-size: 15px;
  line-height: 21px;
}
.house-reviews-slider__price{
  font-weight: 600;
}




































.my-dots {
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
}
.my-dots li {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.my-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 10px;
  height: 10px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.my-dots li button:hover,
.my-dots li button:focus {
  outline: none;
}

.my-dots li button:hover:before,
.my-dots li button:focus:before {
  opacity: 1;
  content: url('../img/icons/dotGreen.svg');
}
.my-dots li button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: url('../img/icons/dotEmpty.png');
  text-align: center;
  opacity: 0.5;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   
}
.my-dots li.slick-active button:before {
  opacity: 1;
  content: url('../img/icons/dotGreen.svg');
  color: black;
}
























@media (min-width: 1919px){
  .banner__info{
    padding-right: 75px;
  }
  .banner__video{
    padding-left: 75px;
  }
}





@media (max-width: 960px){

}


@media (min-width: 1300px){
  .container{
    max-width: 1440px;
  }
}
